{% extends 'admin/base_site.html' %}
{% load i18n humanize %}


{% block extrastyle %}
    <style>
        p {padding: 5px;}
    </style>
    <script type="text/javascript" src="/static/js/jquery-1.8.1.min.js"></script> 
    <script src="/static/js/jquery.tablesorter.js"></script>
{% endblock %}


{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    <hr>
    <div>
     <h2>{% trans "Summary"%}</h2>
     <table>
        <tr>
            <td> {% trans 'Total Units bought' %} </td>
            <td> {% trans 'Total $ bought' %} </td>
            <td> {% trans 'Units $ bought' %} </td>
            <!--td> {% trans 'Total units (gr)' %} </td--> 
            <td> {% trans 'Total $ sold' %} </td>
            <td> {% trans 'Total Units sold' %} </td>
            <td> {% trans 'Units $ sold' %} </td>
            <!--td> {% trans 'Total units (gr)' %} </td-->          
            <td> {% trans "Average Purchase" %} </td>
            <td> {% trans "Average Sale" %} </td>
            <td> {% trans "Profit Margin" %} </td>
        </tr>
        <tr>
            <td> {{ total_units_bought }} </td>
            <td> ${{ total_dollars_bought|floatformat:2 }} </td>
            <td> {{ unit_dollars_bought|floatformat:2 }} </td>
            <td> ${{ total_dollars_sold|floatformat:2 }} </td>
            <td> {{ total_units_sold }} </td>
            <td> {{ unit_dollars_sold|floatformat:2 }} </td>
            <td> ${{ avg_purchase|floatformat:2 }} </td>
            <td> ${{ avg_sale|floatformat:2 }} </td>
            <td> {{ profit_margin }}% </td>
        </tr>
     </table>
    </div>
    <hr>
    <div>
        <h2> {% trans 'Detail' %} </h2>

        <script>
            $(document).ready(function() 
                { 
                    $("#sort_table").tablesorter({sortList: [[0,1]]}); 
                } 
            ); 
        </script>
        <table class='sort_table' id='sort_table'>
            <thead>
                <tr>
                    <th>{% trans 'Vendor' %}</th>
                    <th>{% trans 'Vegetable' %}</th>
                    <th>{% trans 'Purchase Price' %}</th>
                    <th>{% trans 'Purchase Quantity' %}</th>
                    <th>{% trans 'Sale Price' %}</th>
                    <th>{% trans 'Sale Quantity' %}</th>
                    <th>{% trans 'District Origin' %}</th>
                    <th>{% trans 'Profit Margin' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for obj in filter %}
                <tr>
                    <td> {{ obj.vendor_survey}} </td>
                    <td> {{ obj.vegetable }} </td>
                    <td> ${{ obj.purchase_price|floatformat:2 }} </td>
                    <td> {{ obj.purchase_quantity }} </td>
                    <td> ${{ obj.sale_price|floatformat:2 }} </td>
                    <td> {{ obj.sale_quantity }} </td>
                    <td> {{ obj.district }} </td>
                    <td> {{ obj.profit_margin }}% </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

